body{

    background-image: url("https://photodune.img.customer.envatousercontent.com/files%2F238590340%2F________+1.jpg?w=400&fit=max&mark=https%3A%2F%2Fassets.shopfront.envato-static.com%2Fimages%2Fwatermarks-19012018.png&markalign=top%2Cleft&markpad=0&markfit=crop&fm=pjpg&q=50&s=22cfdcaa6885538a3269b7359d3c585e");
    background-size: cover;
    margin-top: 380px;
}
.block2{
color: white;   
}
h1{
    color: white;  
}